<div id="ListBox">
    <ol>
        @for (int i = 0; i < Items?.Length; i++)
        {
            <ListBoxItem Checked="@Items[i].Checked" Value="@Items[i].Value" Selected="@(i == SelectedIndex)" ID="@i" @ref="Reference"/>
        }
    </ol>
</div>

@code {

    List<ListBoxItem> Refs = new List<ListBoxItem>();
    ListBoxItem Reference { set { Refs.Add(value); } }

    public Sermone.Types.ListBoxItemInfo[] Items { get; set; }

    public int SelectedIndex = 0;

    public void SetItems(Sermone.Types.ListBoxItemInfo[] Items) {
        Refs = new List<ListBoxItem>();
        this.Items = Items;
    }
    public void Refresh() => this.StateHasChanged();

    public void Refresh(int ItemID) {
        Refs[ItemID].Selected = ItemID == SelectedIndex;
        Refs[ItemID].Checked = Items[ItemID].Checked;
        Refs[ItemID].Value = Items[ItemID].Value;
        Refs[ItemID].Refresh();
    }
    }
