@page "/"

<ListBox @ref="Engine.DialogueBox" />

<div class="DialogueBox">
    <input type="text" spellcheck="true">
</div>
<div class="ButtonContainer">
    <button type="button" class="LeftButton">@Engine.Language.Back</button>
    <button type="button" class="RightButton">@Engine.Language.Next</button>
</div>